**/__pycache__

# repo metadata
.github
LICENSE
README.md
scripts

# configs
*.env
**/*.ini
**/*.yml
**/*.yaml
**/*.toml
**/*.json

# deployment configs
units

# tool configs
Dockerfile
.dockerignore
.flake8
**/.gitignore

# tool cache/data
.venv
.git
.mypy_cache
.pytest_cache
target

# dependency configs (except requirements.txt)
**/*.txt
**/*.in
!requirements.txt

# IDEs
.vscode
