**/__pycache__

# repo metadata
.github
LICENSE
README.md
scripts

# configs
*.env

# deployment configs
units

# tool configs
.dockerignore
.flake8
.gitignore
.pre-commit-config.yaml
Dockerfile
pyproject.toml

# tool cache/data
.venv
.git
.mypy_cache
.pytest_cache

# dependency configs (except requirements.txt)
requirements.in
requirements-dev.txt

# IDEs
.vscode
