# required bot vars
PINK_BOT_TOKEN=NTU2NTI4MDcwNjMxMjI3NDAy.XI1xJF.xl6iW44dagmEjnZVjzBHTL_w-pM
PINK_BOT_PREFIX=!

PINK_BOT_EDGEDB_HOST=localhost
PINK_BOT_EDGEDB_PORT=10700
PINK_BOT_EDGEDB_USER=pink
PINK_BOT_EDGEDB_PASSWORD=pass
PINK_BOT_EDGEDB_DATABASE=pink

# optional bot vars
PINK_BOT_SENTRY_DSN=https://ABCD@o546834.example.com/123

# cog vars
PINK_BOT_TRAVITIA_API_TOKEN=".3?fD?ZGJ(a4B9,'DK(J"
PINK_BOT_OCR_API_TOKEN=aaa
# NOTE: should be external IP
PINK_BOT_PINK_PROXY=https://my.domain/api/proxy
PINK_BOT_PINK_PROXY_TOKEN=ABCDE