# python: 3.11

# discord framework/extensions
discord.py[speed]>=2.0

# databases
asyncpg

# api libs for commands
googletrans-py==4.0.0

# accents
pink-accents==0.0.4

# image operations
Pillow

# error reporting
sentry-sdk

# perfomance
orjson
uvloop

# cache
aiocache
redis[hiredis]
