# python: 3.10

# discord framework/extensions
discord.py @ git+https://github.com/Rapptz/discord.py@9c61e10a55d5b776a8731eb9a6457dfbf3cc9e9f

# databases
edgedb<=0.17.3

# config
python-dotenv

# api libs for commands
travitia-talk
googletrans>=3.1.0a0

# accents
pink-accents==0.0.4

# image operations
Pillow

# error reporting
sentry-sdk

# perfomance
orjson
uvloop

# misc
aiocache