discord.py @ git+https://github.com/Rapptz/discord.py@a909c1ff069b1bdb332b7f3b01ef1c4b8a3a3a15
python-dotenv
travitia-talk
Pillow
edgedb<=0.17.3
sentry-sdk
aiocache
# https://github.com/ssut/py-googletrans/issues/280#issue-827952964
googletrans>=3.1.0a0
uvloop

# in case specific commit is needed, this syntax can be used
# git+https://github.com/Fogapod/pink-accents.git@d4b97c233d81d6d1b85edc18b015af16f791c8d9
pink-accents==0.0.4
