discord.py>=1.6<2.0.0
python-dotenv
travitia_talk
Pillow
edgedb
sentry-sdk
# https://github.com/ssut/py-googletrans/issues/280#issue-827952964
googletrans>=3.1.0a0

# in case specific commit is needed, this syntax can be used
# git+https://github.com/Fogapod/pink-accents.git@d4b97c233d81d6d1b85edc18b015af16f791c8d9
pink_accents==0.0.2