[Install]
WantedBy=multi-user.target

[Unit]
Description=PotatoBot Discord bot

[Service]
Type=simple
Restart=always

WorkingDirectory=/srv/potato_bot
Environment="IMAGE=fogapod/potato_bot"
Environment="PWD=/srv/potato_bot"

ExecStartPre=-/usr/bin/docker pull $IMAGE
ExecStartPre=/usr/bin/docker build -t $IMAGE .

ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n

ExecStart=/usr/bin/docker run --name %n --rm \
    --env-file ${PWD}/.env $IMAGE