[Install]
WantedBy=multi-user.target

[Unit]
Description=PotatoBot Discord bot

[Service]
Type=simple
Restart=always

WorkingDirectory=/srv/potato_bot
Environment="IMAGE=fogapod/potato_bot"
Environment="PWD=/srv/potato_bot"

TimeoutStartSec=600

# i like systemd (no)
ExecStartPre=/bin/sh -c "docker build -t $IMAGE \
    --build-arg UID=$(id -u) --build-arg GID=$(id -g) ."

ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n

ExecStart=/usr/bin/docker run --name %n --rm \
    -v ${PWD}:/code:Z --hostname potato_prod $IMAGE
